<div class="welcome-page">
    <div class="row">
        <div class="col image-col">
            <img src="../../assets/welcome-img.png" title="welcome" alt="welcome">
        </div>
        <div class="col content-col">
            <h1>Welcome to My App</h1>
            <p>Hi, I'm <b>Seshan R</b>.
             I'm excited to showcase my profile and share my accomplishments with you. 
             Feel free to explore and get to know more about me!</p>
            <div class="btnGroup">
                <button class="view-profile-button" (click)="goToProfile()">View Profile</button>  
            </div>
        </div>
    </div>
</div>