@use '@angular/material' as mat;
@include mat.core();
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css');
html,
body {
  height: 100%;
  font-family: montserrat, sans-serif,poppins;
}

body {
  margin: 0;
  font-family: system-ui;
  font-weight: medium;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
